<div>
    <div class="row">
        <div class="col col-md-2">
            <ul class="nav flex-column">
                <li class="nav-item">
                    <button class="btn btn-primary" routerLinkActive="active"
                        routerLink="/datatable1">DataTables1</button>
                </li>
                <li class="nav-item">
                    <button class="btn btn-primary" routerLinkActive="active"
                        routerLink="/datatable2">DataTables2</button>
                </li>
                <li class="nav-item">
                    <button class="btn btn-primary" routerLinkActive="active" routerLink="/trees-of-employees">Employee
                        hierarchy</button>
                </li>

                <li class="nav-item">
                    <button class="btn btn-primary" routerLinkActive="active" routerLink="/profile">Profile</button>
                </li>
                <li class="nav-item">
                    <button class="btn btn-primary" routerLinkActive="active" routerLink="/data-binding">Data
                        binding</button>
                </li>
                <li class="nav-item">
                    <button class="btn btn-primary" routerLinkActive="active" routerLink="/todo-list">Todo list</button>
                </li>

                <li class="nav-item">
                    <button class="btn btn-primary" routerLinkActive="active" routerLink="/suppliers">Suppliers</button>
                </li>
            </ul>
        </div>
        <div class="col">
            <router-outlet />
        </div>
    </div>
</div>