.buttons-row li {
    display: inline-block;
}

.my-alignment {
    align-self: self-start;
}

.tablinks {
    padding: 10px;
    width: 100px;

}

.nav-item {
    width: 100px;
    text-decoration: underline;
    color: black;
}