#jsonTable3 tbody tr:hover {
    background-color: rgb(235, 24, 87);
}


.selected #jsonTable3 tbody tr {
    background-color: rgb(239, 12, 43) !important;
    color: white;
}

tr.selected {
    background-color: aquamarine !important;
}

#jsonTable3 tbody tr {
    background-color: salmon;
}

.smallSize {
    width: 100px;
    text-align: center;
}

#jsonTable td.action-column {
    width: 250px;
    /* Adjust the width as needed */
    text-align: right;
    /* Align the content to the right */
}

table {
    text-align: center;
}

th,
td {#jsonTable3 tbody tr:hover {
    background-color: rgb(235, 24, 87);
}


.selected #jsonTable3 tbody tr {
    background-color: rgb(239, 12, 43) !important;
    color: white;
}

tr.selected {
    background-color: aquamarine !important;
}

#jsonTable3 tbody tr {
    background-color: salmon;
}

.smallSize {
    width: 100px;
    text-align: center;
}

#jsonTable td.action-column {
    width: 250px;
    /* Adjust the width as needed */
    text-align: right;
    /* Align the content to the right */
}

table {
    text-align: center;
}

th,
td {
    text-align: center;
}
    text-align: center;
}